{% extends "app/layout.html" %}

{% block content %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Imagenes</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Respuestas</th>
            <th>Calificación Vendedor</th>
            <th>Ir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td><img src="https://http2.mlstatic.com/xiaomi-celulares-smartphones-D_Q_NP_717464-MLC25594767285_052017-D.webp" alt="imagen" class="img-rounded"></td>
            <td>$1.000</td>
            <td>Bueno, bonito y barato</td>
            <td>Bueno, bonito y barato</td>
            <td>♥ ♥ ♥ ♥ ♥</td>
            <td>
                <button type="button" class="btn btn-primary">Ir</button>
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
