{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a sdhafkashdfkjhsadf web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Imagenes</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Respuestas</th>
            <th>Calificación Vendedor</th>
            <th>Ir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Imagenes</td>
            <td>$1.000</td>
            <td>Bueno, bonito y barato</td>
            <td>Bueno, bonito y barato</td>
            <td>♥ ♥ ♥ ♥ ♥</td>
            <td>Boton</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
